.logo
{
    height: 32px;
    width: 32px;
}

img
{
  
    width: 320px;
    height: auto;

}


footer
{
    background-color: lightblue;
    padding-top:20px;
    padding-bottom:20px;

    text-align: left;
    

}

h1
{
    font-size: 40px;
    color: whitesmoke;
    background-color: lightblue;
}

h3
{
    font-size: 20px;
   
}
