.logo
{
    height: 32px;
    width: 32px;
}

img
{
  
    width: 320px;
    height: auto;

}

header
{

}


footer
{
    background-color: lightgray;
    padding-top:20px;
    padding-bottom:20px;
    text-align: right;
    

}

h1
{
    size: xl-large;
    color: whitesmoke;
    background-color: lightblue;
}
