.logo
{
    height: 32px;
    width: 32px;
}

img
{
  
    width: 320px;
    height: auto;

}

header
{

}


footer
{
    background-color: lightgray;
    padding-top:20px;
    pading-bottom:20px;
    

}

h1
{
    size: 100px;
    color:white;
    background-color: lightblue;
}
